@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 10% 98%;
    --foreground: 206 12% 17%;
    --card: 0 0% 100%;
    --card-foreground: 206 12% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 206 12% 17%;
    --primary: 210 22% 42%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 16% 93%;
    --secondary-foreground: 210 22% 42%;
    --muted: 210 16% 93%;
    --muted-foreground: 210 12% 40%;
    --accent: 181 60% 50%;
    --accent-foreground: 181 60% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 16% 90%;
    --input: 210 16% 90%;
    --ring: 210 22% 42%;
    --radius: 0.75rem;
    --sidebar-background: 210 16% 96%;
    --sidebar-foreground: 210 12% 20%;
    --sidebar-primary: 210 22% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 16% 90%;
    --sidebar-accent-foreground: 210 22% 42%;
    --sidebar-border: 210 16% 88%;
    --sidebar-ring: 181 60% 50%;
  }

  .dark {
    --background: 206 11% 17%; /* #262B2F */
    --foreground: 210 20% 98%;
    --card: 206 11% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 206 11% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 22% 42%; /* #546C82 */
    --primary-foreground: 210 20% 98%;
    --secondary: 206 11% 22%;
    --secondary-foreground: 210 20% 98%;
    --muted: 206 11% 22%;
    --muted-foreground: 210 12% 70%;
    --accent: 181 60% 51%; /* #33CCCE */
    --accent-foreground: 206 11% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 206 11% 25%;
    --input: 206 11% 25%;
    --ring: 181 60% 51%;
    --sidebar-background: 206 11% 14%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 181 60% 51%;
    --sidebar-primary-foreground: 206 11% 10%;
    --sidebar-accent: 206 11% 20%;
    --sidebar-accent-foreground: 181 60% 51%;
    --sidebar-border: 206 11% 22%;
    --sidebar-ring: 181 60% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark;
  }
}